.home-banner {

    .content {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .h1 {
        font-size: 50px;
        margin-bottom: 30px;
        font-weight: 500;
        color: $color-white;
        text-shadow: 0 0 2px black;

        &::after {
            background: #fff;
            content: '';
            display: block;
            height: 3px;
            margin: 15px auto 10px;
            width: 140px;
        }
        
        @include media-breakpoint-up(sm){

        }

        @include media-breakpoint-down(sm){
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    p {
        color: $color-white;
        font-family: Libre Baskerville;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        margin-bottom: 10px;
        text-shadow: 0 0 1px black;

        @include media-breakpoint-up(sm){
            
        }

        @include media-breakpoint-down(sm){

        }
    }

    .btn {
        border-radius: 0px;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 30px 15px;

        &:hover {         

            &::after {
                -webkit-transform: translateX(0.25rem);
                transform: translateX(0.25rem);
            }
        }

        &::after {
            -webkit-transition: .2s ease-in-out;
            transition: -webkit-transform .2s ease-in-out,transform .2s ease-in-out;
            color: currentColor;            
            content: "\f061";
            display: inline-block;
            font-family: 'Line Awesome Free';
            font-size: 16px;
            font-weight: 900;
            margin-left: 5px;
        }

        @include media-breakpoint-down(sm){
            padding: 5px 30px 10px;
        }
    }

    .btn-dark {
        color: #fff;
        background-color: rgba(52, 58, 64, .95);
        border-color: rgba(52, 58, 64, .95);

        &:hover {
            background-color: rgba(52, 58, 64, .7);
            border-color: rgba(52, 58, 64, .7);
        }
    }

    .owl-theme {

        .owl-dots {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;

            .owl-dot {

                span {
                    border: 2px solid rgba(0,0,0,.2);
                    width: 12px;
                    height: 12px;
                    background: $color-white;
                }

                &.active span, 
                &:hover span {
                    background: #000;
                }
            }
        }
    }
}

.category-scroller {

    ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;

        li {
            display: inline-block;
            padding: 5px 10px;
            vertical-align: top;
            width: 130px;
        }

        @include media-breakpoint-up(sm){
            cursor: grab;

            li {
                // width: 130px;
            }
        }

        @include media-breakpoint-down(sm){
            overflow-x: scroll;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            
            &::-webkit-scrollbar { //Chrome, Safari and Opera
                display: none;
            }
        }
    }

    .info-box {
        align-items: center;

        figure {
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 2px 0 #000;
            display: flex;
            height: 70px;
            justify-content: center;
            overflow: hidden;
            width: 70px;
        }

        h4 {
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            text-align: center;
            white-space: normal;
        }
    }
}